@import "./autocompleteInput//AutocompleteInput.style";
@import "./button/Button.style";
@import "./contact-us/ContactUs.style";
@import "./dropdown/Dropdown.style";
@import "./explore/Explore.style";
@import "./explore-quiz/ExploreQuiz.style";
@import "./filter/Filter.style";
@import "./google-map/GoogleMap.style";
@import "./location-detail//LocationDetail.style";
@import "./locationList/LocationList.style";
@import "./locationListItem/LocationListItem.style";
@import "./marker/Marker.styles";
@import "./not-found/NotFound.style";
@import "./recycling-fact/RecyclingFacts.style";

.mapAndMaterialTab {
    margin: 24px auto;
    display: block;
    text-align: center;

    button {
        margin: 0 1rem;
        border: none;
        background-color: #fff;
        font-size: 20px;
        color: #bbb;

        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    // .waste-management-content {
    //     display: grid;
    //     grid-template-columns: 325px 1fr;
    // }

    // .filter-section {
    //     order: 1;
    //     grid-column: span 2;
    //     margin-bottom: 2rem;
    // }

    .mapAndMaterialTab {
        // order: 2;
        display: none !important;
    }

    .wm-main-contents {
        display: grid;
        grid-template-columns: 325px 1fr;
        margin-top: 2rem;
        grid-column-gap: 48px;
    }

    .location-section,
    .locationDetailDiv {
        order: 3;
    }

    .google-map-section {
        order: 4;
        display: block !important;
    }

    .fact-section {
        order: 5;
        grid-column: span 2;
    }

    .explore-section {
        order: 6;
        grid-column: span 2;
    }

    .explore-quiz-section {
        order: 7;
        grid-column: span 2;
    }

    .wmPageNotFound {
        order: 8;
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px) {
    .wm-main-contents {
        grid-template-columns: 420px 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .wm-main-contents {
        grid-template-columns: 520px 1fr;
    }
}