
.filter-section {
    max-width: 100%;
}

.mapAndMaterialTab {
    margin: 1rem auto;
    display: block;

    button {
        margin: 0 1rem;
        border: none;
        background-color: #fff;
        font-size: 16px;
        color: #bbb;

        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    // .waste-management-content {
    //     display: grid;
    //     grid-template-columns: 325px 1fr;
    // }

    // .filter-section {
    //     order: 1;
    //     grid-column: span 2;
    //     margin-bottom: 2rem;
    // }

    .mapAndMaterialTab {
        // order: 2;
        display: none !important;
    }

    .wm-main-contens {
        display: grid;
        grid-template-columns: 325px 1fr;
        margin-top: 2rem;
    }

    .location-section,
    .locationDetailDiv {
        order: 3;
    }

    .google-map-section {
        order: 4;
        display: block !important;
    }

    .fact-section {
        order: 5;
        grid-column: span 2;
    }

    .explore-quiz-section {
        order: 6;
        grid-column: span 2;
    }

    .wmPageNotFound {
        order: 7;
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px) {
    .waste-management-content {
        grid-template-columns: 400px 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .waste-management-content {
        grid-template-columns: 480px 1fr;
    }
}