.wmLoaderComponent {
    // background-color: rgba( 255, 255, 255, .7);
    width: 100%;
    height: 40vh;
    // top: 50%;
   	// left: 50%;
    // transform: translateY(-50%) translateX(-50%);
    // z-index: 10;
    margin: 3rem auto;
    display: grid;
    justify-content: center;
    align-items: center;

    img {
        // position: absolute;
        margin-bottom: 2rem;
        max-width: 160px;
        height: auto;
        transform: translateX(50%);
        animation: spin 4s linear infinite;
    }

    p {
        text-align: center;
        font-size: 20px;
        color: $savy-black;
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}