// .answer-window-out {
//   background-color: rgba(99, 98, 98, 0);
//   position: relative;
.answer-window {
  position: absolute;
  width: 70vw;
  height: auto;

  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;

  padding: 10px;
  box-shadow: 2px 2px rgb(177, 176, 176);
  border-radius: 10px;

  .next-question {
    display: block;

    padding: 0.5rem 2rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2rem 5rem;
  }

  .true-false-logo {
    width: 20%;
    margin: 0 auto;
  }
}
// }
