.autocompleteInput {
    position: relative;
    border-bottom: $savy-gray-50 1px solid;

    ul {
        margin-top: .5rem;
         -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    li {
        padding: .65rem;
        font-size: 1rem;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
    }

    input {
        padding: .75rem;
        // border-radius: 25px;
        font-size: 16px;
        width: 100%;
        // border: solid 1px #aaaaaa;
        border: none;
        // border-bottom: $savy-gray-50 1px solid;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    input:focus {
        outline: none;
    }

    .combobox {
        position: relative;
    }

    // .fa-search {
    //     position: absolute;
    //     font-size: 1.25rem;
    //     right: 1.25rem;
    //     top: 12px;
    //     color: #05C4A3;
    // }

    // .fa-times-circle {
    //     position: absolute;
    //     font-size: 1.5rem;
    //     right: 1.25rem;
    //     top: 10px;
    //     color: #EE655B;
    //     cursor: pointer;
    // }

    .textClearMark {
        position: absolute;
        width: 16px;
        height: auto;
        // font-size: 1.5rem;
        right: 1.25rem;
        top: 14px;
        cursor: pointer;
        color: $savy-gray-100;
    }
}

@media screen and (min-width: 768px) {
    .autocompleteInput {
        border-bottom: none;

        // .makeStyles-input-2 {
        //     padding-bottom: 0;
        // }
    }

}