.explore-quiz-section {
    background-color: #eee;
    padding: 1rem;
    margin: 48px 0;

    p {
        font-size: 22px;
        line-height: 1.5;
    }

    button {
        font-size: 22px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .explore-quiz-section {

        p {
            margin-right: 40px;
            display: inline-block;
        }

        button {
            width: auto;
        }
    }
}