.footer {
    background-color: $savy-gray-25;
    text-align: center;
    padding: 2rem 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;

    p {
        span {
            display: block;

            @include mq-small {
                display: inline-block;
            }
        }
    }
}