.main-content {
    margin: 0 1.5rem;
}

.contact-main {
    max-width: 570px;
    margin: 0 auto;
    letter-spacing: $letter_spacing;

    .contact-section {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: left;
        grid-gap: 2rem;
        padding: 5rem 0;
    }

    h2 {
        text-align: center;
        font-size: 22px;
        line-height: $heading_line-height;
        margin-bottom: 0;
    }

    .contact-img {
        order: -1;
    }

    .contact-content {
        h3 {
            display: none;
            text-align: center;
            font-size: 22px;
            line-height: $heading_line-height;
            margin: 0;
        }

        .floating-input {
            color: #000000;
            margin-top: 2rem;
            padding: 5px 1px;
        }

        .contact-button {
            text-align: center;
        }

        .contact-form-submit-btn {
            border: none;
            margin-top: 4rem;
        }

        #submit-message {
            margin-top: 4rem;
            text-align: center;
        }
    }

}

@media screen and (min-width: $mediumLarge) {
    .contact-main {
        max-width: 1224px;

        .contact-section {
            grid-template-columns: 1.5fr 1fr;
        }

        h2 {
            font-size: 28px;
            grid-column: span 2;
            margin-bottom: 3rem;
        }

        .contact-img {
            order: 0;

            img {
                width: 520px;
                max-width: 520px;
            }
        } 

        .contact-content {

            h3 {
                display: block;
                font-size: 28px;
            }

            .contact-button {
                text-align: left;
            }
        }
    }

}