.about-section {
    background-color: $savy-gray-25;
    padding: 0 1.5rem;

    .about-section-info {
        max-width: 700px;
        margin: 0 auto;
        padding: 5rem 0;

        h2 {
            font-size: $h2-fz;
            color: $savy-green-100;
        }

        p {
            line-height: 1.7;
            letter-spacing: 1px;
            color: $savy-black;

            &:first-of-type {
                padding-bottom: 1.5rem;
            }
        }
    }
}