.testimonial-section {
    border-top: 2px solid $savy-gray-25;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 0;

    @include mq-mediumLarge{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem 1.5rem;
    }

    .testimonial-img {
        min-width: 350px;
    }

    .teastimonial-text {

        display: flex;
        justify-content: center;

        @include mq-mediumLarge{
            display: grid;
            grid-template-columns: 120px auto;
            max-width: unset;
        }
        

        .char {
            font-family: Helvetica;
            font-size: 10rem;
            font-weight: normal;
            margin: 0 2rem;
        }

        .swiper-container {
            width: 50vw;

            .swiper-pagination {
                bottom: 0;
            }

            .testimonial-description {
                margin-top: 0;
                font-style: italic;
                line-height: 30px;
                font-size: 16px;
                letter-spacing: 0.9px;
                color: $savy-gray-100;
            }

            .testimonial-by {
                color: $savy-green-100;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 0.9px;
                margin-bottom: 0;
            }

            .testimonial-date {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                font-size: 12px;
                color: $savy-gray-50;
            }

            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
            }

            .swiper-pagination-bullet-active {
                background: $savy-green-100;
            }
        }
    }



}