.testimonial-section {
    border-top: 2px solid $savy-gray-25;
    max-width: 1300px;
    margin: 0 auto;
    padding: 4rem 0;

    @include mq-medium {
        padding: 0 2.5rem;
    }

    @include mq-mediumLarge {
        padding: 5rem 2.5rem;
    }

    @include mq-large {
        padding: 5rem 7rem;
        max-width: 1300px;
    }

    

    .teastimonial-slider {

        .swiper-container {
            width: 100%;

            .swiper-pagination {
                bottom: 0;

                &.swiper-pagination-bullets {
                    @include mq-mediumLarge {
                        left: 25% !important;
                    }
                }

                .swiper-pagination-bullet {
                    width: 14px;
                    height: 14px;
                }

                .swiper-pagination-bullet-active {
                    background: $savy-green-100;
                }
            }

            .testimonial-slide {
                @include mq-mediumLarge {
                    display: flex;
                }

                .testimonial-block {
                    display: flex;
                    padding: 0 1.5rem;
                    margin-top: 2rem;

                    @include mq-mediumLarge {
                        margin-top: 0;
                    }

                    .char {
                        font-family: Helvetica;
                        font-size: 10rem;
                        font-weight: normal;
                        margin: 0;
                        margin-right: 1.5rem;
                        line-height: 0.9;
                        color: $savy-green-100;
                    }

                    .testimonial-description {
                        margin-top: 0;
                        font-style: italic;
                        line-height: $para_line-height;
                        font-size: 16px;
                        letter-spacing: $letter_spacing;
                        color: $savy-gray-100;
                    }

                    .testimonial-by {
                        color: $savy-green-100;
                        font-weight: bold;
                        font-size: 14px;
                        letter-spacing: $letter_spacing;
                        margin-bottom: 0;
                    }

                    .testimonial-date {
                        margin-top: 0.5rem;
                        margin-bottom: 2rem;
                        font-size: 12px;
                        color: $savy-gray-50;
                    }
                }
            }

        }
    }
}