.locationDetailDiv {
    position: relative;
    text-align: left;
    padding: 1rem;
    border: solid 1px #eee;
    animation: slideInLeft .45s ease;

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.listItemFacilityName {
    font-size: 22px;
    font-weight: bold;
}

.x_markImage {
    max-width: 18px;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .locationDetailDiv {
        height: 447.45px - 33.99px;
        max-width: 100%;
    }
}

.slide_in_left {
    animation: slideInLeft .45s ease;
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%);}
  100% { transform: translateX(0%);}
}

.slide_out_left {
    animation: slideOutLeft .45s ease;
    // animation: slideOutLeft .45s ease;
}

@keyframes slideOutLeft {
  0% { transform: translateX(0);}
  100% { transform: translateX(-100%);}
}
