body {
    font-family: $font-sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.main-content {
    min-height: 84vh;
}

.savy-green-button {
    cursor: pointer;
    background-color: $savy-green-100;
    border: none;
    border-radius: 6px;
    color: $savy-white;
    padding: 0.5rem 2rem;
    display: inline-block;
}