.home-contact-section {
    background-color: $savy-gray-25;
    text-align: center;
    padding: 4rem 1.5rem;

    h3 {
        letter-spacing: $letter_spacing;
        line-height: 28px;

        @include mq-medium {
            font-size: 20px;
        }

        @include mq-mediumLarge {
            font-size: 22px;
        }

        @include mq-large {
            font-size: 24px;
        }

        @include mq-large {
            font-size: 28px;
        }
    }
}