img {
    width: 100%;
    height: auto;
}

.slick-slider {
	text-align: center;
	margin: 1rem;

	.slick-slide {
		padding: 0 0.5rem;
		box-sizing: border-box;
	}

	img {
		position: relative;
		top: 80px;
		display: inline-block;
		margin: 0;
		max-width: 160px;
		border-radius: 50%;
		filter: grayscale(75%);
	}

	.slick-prev {
		left: 0;
		z-index: 1;

		&:before {
			color: #000;
		}
	}

	.slick-next {
		right: 0;
		z-index: 1;

		&:before {
			color: #000;
		}
	}

	.member-info {
		padding-bottom: 1rem;
		padding-top: 5rem;

		.member-profile {
			a {
				margin: 5px;
				filter: grayscale(100%);
			}
		}
	}

	.slick-center{
		img {
			transform: scale(1.3);
			filter: grayscale(0%);
		}

		.member-info {
			// border-radius: 0rem 0rem 2rem 2rem;
			// border: 2px solid black;
			padding-top: 7rem;
		}
	} 
}