.locationListItem {

    border: solid 1px #eeeeee;
    text-align: left;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 70px;

    p {
        margin: 0;
        line-height: 1.25;
        font-size: .8rem;
    }

    a {
        font-size: .8rem;
    }

    .listItemFacilityName {
        font-size: 1rem;
        margin-bottom: .5rem;
        border-bottom: solid 1px black;
        display: inline-block;
        cursor: pointer;
    }

    .locationListItemDirection {
        display: grid;
    }

    .directionArrow {
        width: 25px;
        height: auto;
        justify-self: right;
        align-self: flex-start;
    }

    .directionDistance {
        justify-self: right;
        align-self: flex-end;
    }

    .rightArrowDiv {
        display: grid;
        justify-content: right;
        align-items: flex-end;
    }

    .rightArrow {
        max-width: 16px;
        height: auto;
        cursor: pointer;
    }

}