.locationListItem {

    border: solid 1px #eeeeee;
    text-align: left;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 70px;

    p {
        margin: 0;
        line-height: 1.25;
    }

    .listItemFacilityName {
        margin-bottom: .5rem;
        border-bottom: solid 1px black;
        display: inline-block;
    }

    .locationListItemDirection {
        display: grid;
    }

    .directionArrow {
        width: 18px;
        height: auto;
        justify-self: right;
        align-self: flex-start;
    }

    .directionDistance {
        justify-self: right;
        align-self: flex-end;
    }

}