header {
    .site-logo a {
        img {
            max-width: 100px;
        }
    }

    // Mobile Menu CSS
    &.mobile-menu {
        .navbar {
            background-color: $savy-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
        }

        .hamburger-menu {
            font-size: 2rem;
            background: none;

            svg {
                color: $savy-gray-100 !important;
            }
        }

        .nav-menu {
            background-color: $savy-green-100;
            width: 250px;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 1;
            transition: 850ms;

            &.active {
                left: 0;
                transition: 350ms;
                box-shadow: 5px 0 5px -1px $savy-gray-50;
            }

            .nav-menu-items {

                width: 100%;
                margin: 0;
                padding-left: 1.5rem;

                .navbar-toggle {
                    background-color: $savy-green-100;
                    width: 100%;
                    padding-top: 1rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .close-menu {
                        font-size: 2rem;
                    }
                }

                .nav-item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 8px 0px 8px 16px;
                    list-style: none;
                    height: 60px;

                    a {
                        text-decoration: none;
                        color: #f5f5f5;
                        width: 95%;
                        display: flex;
                        align-items: center;
                        padding: 0 1rem;
                        border-radius: 4px;
                        height: 100%;

                        &:hover {
                            background-color: #1a83ff;
                        }
                    }
                }
            }
        }
    }


    // Desktop Menu CSS
    &.desktop-menu {
        padding: 0.5rem 0;
        position: sticky;
        top: 0;
        z-index: 9999;
        background: $savy-white;

        &.active {
            box-shadow: 0 0 10px $savy-gray-50;
        }

        .nav-menu {
            max-width: $max-width;
            margin: 0 auto;
            // margin-bottom: 4rem;
            padding: 0 1.5rem;

            @include mq-medium {
                display: grid;
                grid-template-columns: 100px auto;
                align-items: center;
            }

            .nav-menu-items {
                padding: 0;

                @include mq-medium {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .nav-item {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #3D3D3D;
                        padding: 0 1rem;

                        &:hover,
                        &.active {
                            color: #05C4A3;
                        }

                        &.active {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}