header {
    .site-logo a {
        img {
            max-width: 100px;
        }
    }

    @media screen and (max-width: 875px) {
        border-bottom: 0.5px solid #E6E6E6;
    }

    // Mobile Menu CSS
    &.mobile-menu {
        .navbar {
            background-color: $savy-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
        }

        .hamburger-menu {
            font-size: 2rem;
            background: none;

            svg {
                color: $savy-gray-100 !important;
            }
        }

        .nav-menu {
            background-color: $savy-green-100;
            width: 250px;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 9;
            transition: 850ms;

            &.active {
                left: 0;
                transition: 350ms;
                box-shadow: 5px 0 5px -3px $savy-gray-50;
            }

            .nav-menu-items {
                width: 100%;
                margin: 0;
                padding: 0;
                // padding-left: 1.5rem;
                // margin-right: 1.5rem;

                .navbar-toggle {
                    background-color: $savy-green-100;
                    width: 100%;
                    padding-top: 1rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .close-menu {
                        font-size: 2rem;
                        padding-bottom: 2rem;
                        padding-left: 1.5rem;
                    }
                }

                .nav-item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    list-style: none;
                    height: 60px;
                    padding: 0;
                    border-bottom: 1px solid $savy-green-50;

                    a {
                        text-decoration: none;
                        color: $savy-white;
                        width: 95%;
                        display: flex;
                        align-items: center;
                        padding: 0 1.5rem;
                        // border-radius: 4px;
                        height: 100%;

                        &:hover,
                        &.active {
                            background-color: rgba(255, 255, 255, 0.8);
                            color: $savy-green-100;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // Desktop Menu CSS
    &.desktop-menu {
        padding: 0.5rem 0;
        position: sticky;
        top: 0;
        z-index: 2;
        background: $savy-white;

        &.active {
            box-shadow: 0 0 5px $savy-gray-50;
            transition: all 0.5s linear;
        }

        .nav-menu {
            max-width: $max-width;
            margin: 0 auto;
            padding: 0 1.5rem;

            @include mq-medium {
                display: grid;
                grid-template-columns: 100px auto;
                align-items: center;
            }

            .nav-menu-items {
                padding: 0;

                @include mq-medium {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .nav-item {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $savy-gray-100;
                        padding: 0 1rem;

                        &:hover,
                        &.active {
                            color: $savy-green-100;
                        }

                        &.active {
                            font-weight: 600;
                        }
                    }

                    &:last-of-type {
                        a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}