.filter-section {
    .WMpageH2 {
        text-transform: uppercase;
    }

    .searchInstructionText {
        display: none;
    }

    .WMpageInputsDiv {
        text-align: left;
    }

    .searchInput {
        margin: .5rem auto;
        width: 80%;
    }

    // input {
    //     padding: .5rem;
    //     border-radius: 18px;
    //     font-size: 16px;
    //     width: 100%;

    // }

    // input:focus {
    //     outline: none;
    // }

    // #use-autocomplete-demo-popup {
    //     height: 300px;
    //     z-index: 10;
    //     // color: red !important;
    //      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //     -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //     border-radius: 20px;

    //     li {
    //         font-size: 1rem;
    //     }
    // }
}

@media screen and (min-width: 768px) {
    .filter-section {
        .searchInstructionText {
            display: block;
        }

        .WMpageInputsDiv {
            display: flex;

            & div:nth-of-type(1) {
                margin-right: .5rem;
            }
            & div:nth-of-type(2) {
                margin-left: .5rem;
            }
        }

        .searchInput {
            width: 30%;
        }

        .searchInput {

        }


    }
}